/* 
  Credit Card Validator Stylesheet - index.html
  Author: Matthew Wiberg 
*/

/* Universal Styles */
html {
  height: 100%;
  font-size: 16px;
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
body {
  height: 100%;
  width: 100%;
  text-align: center;
  font-family: "Courier New", sans-serif;
  background-color: darkgray;
}
h1 {
  position: relative;
  top: 10%;
  font-size: 3.25rem;
  font-family: "Russo One", sans-serif;
  letter-spacing: 0.1rem;
}


/* CreditCard Styles */
#creditCard {
  height: 280px;
  width: 480px;
  margin: 0 auto;
  position: relative;
  top: 15%;
  border-radius: 25px;
  background-color: black;
  display: grid;
  grid-template: repeat(12, 1fr) / repeat(18, 1fr);
  font-size: 1.1rem;
  text-align: left;
  color: white;
  box-shadow: 0px 5px 12.5px black;
}
#cardBankName {
  grid-area: 2/2/3/8;
  font-size: 1.35rem;
}
#cardNumber {
  grid-area: 6/2/8/18;
  text-align: center;
  font-size: 1.15rem;
  letter-spacing: 0.5rem;
}
#cardHolderName {
  grid-area: 9/2/11/7;
  letter-spacing: 0.2rem;
}
#cardCompanyName {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: 9/15/12/18;
  margin: 5px 0;
  font-size: 1.65rem;
  text-align: center;
  color: black;
  background-color: white;
  border-radius: 5px;
}


#numValidity {
  position: relative;
  top: 22.5%;
  color: red;
}
#cardValidity {
  position: relative;
  top: 22.5%;
}
#cardCompany {
  position: relative;
  top: 22.5%;
  margin-top: 10px;
}
#submitBtn {
  height: 45px;
  width: 110px;
  border-radius: 12.5px;
  position: relative;
  top: 20%;
  font-size: 1.1rem;
  font-family: "Courier New", sans-serif;
  box-shadow: 0px 4px 10px black;
  border: none;
  cursor: pointer;
}
#submitBtn:hover {
  color: white;
  background-color: black;
}
#submitBtn:active {
  background-color: orange;
}
#submitBtn:focus {
  border: none;
}